@font-face {
  font-family: "ABC Diatype", Helvetica, sans-serif;
  src: url("/assets/fonts/ABCDiatype-Regular.woff2") format("woff2"),
    url("/assets/fonts/ABCDiatype-Regular.woff") format("woff"),
    url("/assets/fonts/ABCDiatype-Regular.otf") format("otf");
}

:root {
  --diatype: "ABC Diatype", Helvetica, sans-serif;
}

body {
  background-image: url("assets/nh_holding_background.jpg");
  backdrop-filter: blur(5px);
  background-size: cover;
  background-position: center;
}

* {
  font-size: 24px;
}